@{
    ViewData["Title"] = "Informacion";
}




<div class="px-5 my-4 text-center">
    <img class="d-block mx-auto mb-4 w-25" src="~/Img/yo.jpeg" />
    <h1 class="display-5 fw-bold"> Proyecto creado por Tec. Juan Carlos Salazar Valenzuela</h1>
    <p class="lead mb-4">Con la finalidad de cumplir con las estadías profesionales y mejorar el proceso de almacenamiento de la informacion en la base de datos.</p>
</div>
