@font-face {
    font-family: 'Montserrat';
    src: url('~/font/Montserrat/')
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
nav {
   font-family: 'Montserrat', sans-serif;
}
footer {
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
    font-family: 'Montserrat', sans-serif;
}
